
.header {
    top       : 0px;
    left      : 0px;
    width     : 100%;
    height    : 69px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #8395A7;
    opacity   : 1;
    display   : flex;
    contain   : content;
}

.header .title {
    top     : 14px;
    left    : 70px;
    width   : 180px;
    height  : 54px;
    position: absolute;
}

.header .title span {
    text-transform: capitalize;
    opacity       : 1;
}

.header .title .text1 {
    color         : var(--unnamed-color-425966);
    text-align    : left;
    font          : normal normal normal 40px/54px Monster Clubhouse;
    letter-spacing: 1.15px;
    color         : #425966;
}

.header .title .text2 {
    color         : var(--unnamed-color-d84a4a);
    text-align    : left;
    font          : normal normal normal 30px/46px Poppins;
    letter-spacing: 0.86px;
    color         : #D84A4A;
    opacity       : 1;
}

.header .menuHead {
    position: absolute;
    right   : 65px;
}
.header .menuHead ul {
    display   : flex;
    list-style: none;
    font      : normal normal normal 13px/20px Poppins;
}

.header .menuHead li {
    color         : var(--unnamed-color-425966);
    text-align    : left;
    letter-spacing: 0px;
    color         : #425966;
    opacity       : 1;
    padding       : 0px 15px;
}

.header .menuHead li.selected {
    color: #D84A4A;
}

.header .menuHead li:hover {
    color         : var(--unnamed-color-d84a4a);
    text-align    : left;
    letter-spacing: 0px;
    color         : #D84A4A;
    opacity       : 1;
    cursor        : pointer;
}
@media (max-width: 428px) {

    .menuHead {
        display: none;
    }
}
@media (min-width: 429px) and (max-width: 768px){
    .menuHead {
        display: none;
    }

}
@media (min-width: 769px) {
    .menuHead {
        display: flex;
    }

}